{% extends "layout.html" %}

{% block content %}
  <main class="container py-5">
    <section class="card card-body">
      <h1 class="displey-1 text-center">Django App</h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi obcaecati libero quis eaque magni quia laborum quasi porro, provident sunt, ad laudantium cum consequatur distinctio repudiandae ipsam eos reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores iure ipsa optio fuga quae impedit aperiam eum quibusdam reprehenderit repellat, tempora earum, quas quos vero, porro minima aut necessitatibus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem porro veniam doloribus ipsam optio quis est explicabo voluptatem fuga. Libero iusto quos quod tenetur esse exercitationem quibusdam molestias vel asperiores?</p>

      <div class="text-center">
        <a href="/signin" class="btn btn-dark">
          SignIn
        </a>
        <a href="/signup" class="btn btn-secondary">
          SignUp
        </a>
      </div>
    </section>
  </main>
{% endblock %}